@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contactContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  padding: var(--padding);
}

.gridRight {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 5%;

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    background-color: #00000059;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.171);

    label {
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--secondary-color);
    }

    & .required {
      color: #fccf03;
    }

    & input,
    textarea {
      min-width: 100%;
      width: 100%;
      height: 40px;
      border-radius: 10px;
      background-color: var(--dark-purple);
      color: var(--primary-color);
      border: none;
      outline: none;
      padding: 0 10px;
      margin-bottom: 20px;
      font-size: 1rem;
      font-weight: 600;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
      transition: box-shadow 0.3s ease-in-out;

      &:focus {
        box-shadow: none;
        outline: 2px solid var(--secondary-color);
      }
    }

    & textarea {
      max-width: 100%;
      max-height: 180px;
      min-height: 80px;
      padding: 10px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  background-color: var(--secondary-color);
  color: var(--purple);
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    color: var(--primary-color);
    cursor: not-allowed;

    &:hover {
      opacity: 0.5;
    }
  }

  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }
}

.spinner {
  height: 24px;
  width: 24px;
  animation: spin 2s linear infinite;
  stroke: var(--purple);
  stroke-width: 2px;
}

.success,
.error {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  transition: opacity 0.3s ease-in-out;

  & p {
    font-size: 1.2rem;
    font-weight: 600;
  }
  & svg {
    margin-right: 10px;
    fill: var(--primary-color);
  }
}

.success {
  background-color: var(--green);
}

.error {
  background-color: var(--red);
}

@media screen and (max-width: 1285px) {
  .contactContainer {
    grid-template-columns: 0.8fr 1fr;
  }
}
@media screen and (max-width: 1111px) {
  .contactContainer {
    grid-template-columns: 0.5fr 1fr;
  }
}
@media screen and (max-width: 757px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
}
